<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="shortcut icon" href="#" />

    <!-- Copy Link Functionality -->
    <script defer>
      const roomId = "<%- id %>";
      const userId = "<%- user._id %>";
      const userName = "<%- user.firstName %> <%- user.lastName%>";
      function copyText() {
        navigator.clipboard.writeText(`${roomId}`);
      }
    </script>
    <script
      src="https://unpkg.com/peerjs@1.5.1/dist/peerjs.min.js"
      defer
    ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/index.js" defer></script>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <a href="/home"><button>Home</button></a>
    <p><b>Meeting ID:</b> <%= id %></p>
    <button onclick="copyText()">Copy ID</button>
    <p><b>Participant name: </b><%= user.firstName %> <%= user.lastName%></p>
    <div class="videoGrid"></div>
  </body>
</html>
