<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
  <body>
    <a href="/home"><button class="btn btn-danger end-btn">End Call</button></a>
    <div class="meeting-id-cont">
      <p class="meeting-id"><b>Meeting ID:</b> <%= id %></p>
      <button onclick="copyText()" class="btn btn-dark copy-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-clipboard"
          viewBox="0 0 16 16"
        >
          <path
            d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"
          />
          <path
            d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"
          />
        </svg>
      </button>
    </div>
    <div class="videoGrid"></div>
    <!-- Copy Link Functionality -->
    <script defer>
      const roomId = "<%- id %>";
      const userId = "<%- user._id %>";
      const userName = "<%- user.firstName %> <%- user.lastName%>";

      function copyText() {
        navigator.clipboard.writeText(`${roomId}`);
      }
    </script>
    <script
      src="https://unpkg.com/peerjs@1.5.1/dist/peerjs.min.js"
      defer
    ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/index.js" defer></script>
  </body>
</html>
